<%= form_for(@post) do |form| %>
  <div class="form-field">
    <%= form.text_field :title, required: true, placeholder: "Title" %>
  </div>
  <div class="form-field">
    <div id="editor"></div>
    <%= form.text_area :description, id: 'form-data', class: 'hidden-form' %>
  </div>
  <div class="form-field">
    <br/>
    <%= form.select :repo, @repos.collect { |repo| [repo["name"], repo["html_url"]]}, { include_blank: "Select your repo" }, required: true %>
  </div>
  <div>
    <br/>
    <button type="submit" class="button">Submit <i class="fas-top fas fa-square"></i><i class="fas-bottom fas fa-check-square"></i></button>
  </div>
<% end %>