<h1><i class="fas fa-file-alt"></i> New Post</h1>
<p>Need some help in your repo? Make sure you create a descriptive title with a sufficient description of the problem.</p>
<%= render partial: 'form' %>