/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= stub tomorrow-theme.css
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  --green:  #4eaf42;
  --white:  #FEF9E8;
  --beige:  #FFA459;
  --purple: #006E6E;
  --steel:  #00C2C2;
  --red:    #ED0000;
  --orange: #FF7400;
  font-family: 'IBM Plex Sans', sans-serif;
}

main {
  padding: 0 2vw;
}

blockquote {
  border-left: 3px solid #ccc;
  padding-left: 10px;
}

a {
  color: #008eff;
  text-decoration: none;
}