.button-link {
  position: relative;
  padding: 5px 10px;
  padding-right: 25px;
  margin-right: 5px;  
  cursor: pointer;
  overflow: hidden;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: var(--white);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 3px #999;
  .fas {
    position: absolute;
    right: 8px;
    top: 7px;
    transition: transform 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  }
  .fab {
    position: absolute;
    right: 8px;
    top: 7px;
    transition: transform 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  }
  .fas-top {
    opacity: 1;
    transform: translate(2px, 1px);
  }
  .fas-bottom {
    opacity: 0;
    transform: translate(2px, 25px);
  }

  &.orange {
    background-color: var(--orange);
  }
  &.red {
    background-color: #a24f4f;
  }
  &.green {
    background-color: #68af5f;
  }
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.button-link:hover {
  &.orange {
    background-color: #ff832b;
  }
  &.red {
    background-color: #af4e4e;
  }
  &.green {
    background-color: #57944f;
  }
  .fas-top {
    opacity: 0;
    transform: translate(2px, 50px);
  }
  .fas-bottom {
    opacity: 1;
    transform: translate(2px, 1px);
  }
}

.button-link:active {
  &.orange {
    background-color: #ea6a0f;
  }
  &.red {
    background-color: #c75353;
  }
  &.green {
    background-color: #589450;
  }
  box-shadow: 0 2px #888;
  transform: translateY(2px);
}

.button {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  padding-right: 25px;
  cursor: pointer;
  overflow: hidden;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: var(--white);
  background-color: #68af5f;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 3px #999;
  .fas {
    position: absolute;
    right: 8px;
    top: 7px;
    transition: transform 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  }
  .fab {
    position: absolute;
    right: 8px;
    top: 7px;
    transition: transform 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  }
  .fas-top {
    transform: translate(2px, 0px);
  }
  .fas-bottom {
    transform: translate(2px, 25px);
  }
}

.button:hover {
  background-color: #57944f;
  .fas-top {
    transform: translate(2px, 50px);
  }
  .fas-bottom {
    transform: translate(2px, 0px);
  }
}

.button:active {
  background-color: #57944f;
  box-shadow: 0 2px #888;
  transform: translateY(2px);
}

#github-link-text {
  transform: translate(-10000px, -10000px);
  position: absolute;
}