li.comment-item {
  list-style: none;
  border-left: 2px solid #dadada;
}
.comment {
  margin: 10px;
}
.child-thread {
  display: block;

  &.hide {
    display: none;
  }
}
.close-thread-button {
  display: block;
  margin: 10px;
}