.user-settings {
  padding: 10px;
  border: 1px solid #c1c1c1;
}
ul.user-posts {
  padding: 0;
  margin: 0;
}
li.user-post {
  padding: 10px;
  list-style: none;
  border-bottom: 1px solid #c1c1c1;
}
.user-post-link {
  padding-right: 25px;
}