pre.ql-syntax {
  position: relative;
  padding-top: 15px !important;
  border: 1px solid #c1c1c1;
  border-radius: 3px;
}
.detected-language {
  font-size: 11px;
  position: absolute;
  top: 2px;
  right: 4px;
}